<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="979379620597-3qspm09ln57eecnt9712iqbglqqbvt7l.apps.googleusercontent.com">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<div id="signinButton">
    <span class="g-signin2"
            data-scope="openid email profile "
            data-clientid="979379620597-3qspm09ln57eecnt9712iqbglqqbvt7l.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookie_policy="single_host_origin"
            data-onsuccess="signInCallback"
            data-approvalprompt="force"
            data-theme="light">

    </span>
</div>
<div id="result"></div>

<script>
   function signInCallback(authResult){
        if (authResult['code']) {
            $('#signinButton').attr('style', 'display: none')

            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{ state }}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function(result) {
                    if (result) {
                        $('#result').html("Login Successful!</br>" + result + '</br> redirecting...')
                        setTimeout(function() {
                            window.location.href = "/restaurant";
                        }, 4000);
                    } else if (authResult['error']) {
                        console.log("There was an error: " + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call, Check your configuration and console.');
                    }
                }
            })
        }
    }
</script>

</body>
</html>